__pycache__/
*.pyc
.DS_Store
artifact_evaluation/comparison_methods/PrivBayes/descriptions/
artifact_evaluation/comparison_methods/DPSyn/parameters/
artifact_evaluation/comparison_methods/DPSyn/config/parameters_*.json
artifact_evaluation/comparison_methods/DPSyn/config/column_datatypes_*.json
artifact_evaluation/comparison_methods/DPSyn/config/eps*.yaml
artifact_evaluation/comparison_methods/DPSyn/data/pkl/*
!artifact_evaluation/comparison_methods/DPSyn/data/pkl/.gitkeep
artifact_evaluation/generated/proposed/*
!artifact_evaluation/generated/proposed/.gitkeep
artifact_evaluation/generated/proposed_dp_maf/*
!artifact_evaluation/generated/proposed_dp_maf/.gitkeep
artifact_evaluation/generated/ldp/*
!artifact_evaluation/generated/ldp/.gitkeep
artifact_evaluation/generated/privbayes/*
!artifact_evaluation/generated/privbayes/.gitkeep
artifact_evaluation/generated/dpsyn/*
!artifact_evaluation/generated/dpsyn/.gitkeep
